Django==4.2.11
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
channels==4.0.0
channels-redis==4.2.0
daphne==4.1.0
psycopg2-binary==2.9.9
django-cors-headers==4.3.1
Pillow==10.2.0
celery==5.3.6
redis==5.0.1
django-redis==5.4.0
django-filter==23.5
drf-spectacular==0.27.1
phonenumbers==8.13.29
django-phonenumber-field==7.3.0
python-dotenv==1.0.1
requests==2.31.0
django-storages==1.14.2
boto3==1.34.34
django-extensions==3.2.3
whitenoise==6.6.0
gunicorn==21.2.0
GDAL==3.4.3
